<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <a title="More info"
                href="https://www.facebook.com/lamdang4102003/"
                target="_blank">Nhom 8 - Booking Care -  2024</a></span>
        </div>
    </div>
</footer>
